<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Sin este permiso, un APK o AAB de release no puede hacer ni una sola
         peticion de red y la app se queda para siempre en la pantalla de acceso.
         Flutter solo lo declara en las variantes de depuracion y de perfil, asi
         que en release hay que ponerlo aqui: es el fallo mas silencioso de todo
         el empaquetado de Android. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- El recordatorio local tiene que sobrevivir a que se apague el telefono.
         Sin esto, un reinicio borra todas las alarmas programadas y el aprendiz
         deja de recibir avisos sin que nada falle a la vista: la app sigue
         diciendo que los tiene encendidos.

         `POST_NOTIFICATIONS` y `VIBRATE` no hacen falta aqui: los declara el
         propio `flutter_local_notifications` en su manifiesto y el fusionador
         los trae. Se dejan donde estan para que la version del permiso la
         gobierne el paquete, no una copia nuestra que se quedaria vieja.

         Lo que tampoco hay, a proposito, es `SCHEDULE_EXACT_ALARM` ni
         `USE_EXACT_ALARM`. Una alarma exacta pide permiso aparte desde Android
         14, o revision de la tienda. Un recordatorio de estudio diario no
         necesita el minuto exacto, asi que se programa con entrega inexacta y
         nos ahorramos las dos cosas. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:label="Atenea"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Enlaces propios: `atenea://home`, `atenea://lesson/{id}` y, sobre
                 todo, `atenea://password/reset?token=...`, que es el que llega por
                 correo cuando alguien olvida su contrasena. Sin este filtro, el
                 enlace no abre nada y la recuperacion no sirve en el telefono. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="atenea"/>
            </intent-filter>
        </activity>
        <!-- Los dos receptores de `flutter_local_notifications`. Sin el primero
             la alarma salta y no se pinta nada; sin el segundo, un reinicio del
             telefono se lleva por delante lo programado.

             `MY_PACKAGE_REPLACED` esta por la misma razon que `BOOT_COMPLETED`:
             actualizar Atenea tambien borra las alarmas. Las dos variantes de
             `QUICKBOOT_POWERON` son para fabricantes que no emiten el arranque
             estandar; las pide el propio plugin en su documentacion. -->
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"/>
        <receiver
            android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
